In [1]:
# Encoding ===> this is thje method to convert our categorical dayta inton numerical data.

In [2]:
# (1). LabelEncoding ==> Using this method, we can convert our target or one dimansional data.

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("covid_toy.csv")

In [5]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [6]:
df=df.dropna()

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lb = LabelEncoder()

In [9]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [10]:
df.sample(5)

    age  gender  fever  cough  city  has_covid
33   26       0   98.0      0     2          0
59    6       0  104.0      0     2          1
2    42       1  101.0      0     1          0
78   11       1  100.0      0     0          1
8    19       0  100.0      1     0          0

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()

In [13]:
df_sc = sc.fit_transform(df)

In [14]:
df_new = pd.DataFrame(df_sc , columns = df.columns)

In [15]:
np.round(df.describe(),1)

        age  gender  fever  cough  city  has_covid
count  90.0    90.0   90.0   90.0  90.0       90.0
mean   43.0     0.4  100.8    0.4   1.3        0.4
std    24.7     0.5    2.1    0.5   1.1        0.5
min     5.0     0.0   98.0    0.0   0.0        0.0
25%    19.2     0.0   99.0    0.0   0.0        0.0
50%    45.0     0.0  101.0    0.0   1.0        0.0
75%    65.0     1.0  102.8    1.0   2.0        1.0
max    83.0     1.0  104.0    1.0   3.0        1.0

In [16]:
np.round(df_new.describe(),1)

        age  gender  fever  cough  city  has_covid
count  90.0    90.0   90.0   90.0  90.0       90.0
mean    0.0    -0.0   -0.0    0.0  -0.0       -0.0
std     1.0     1.0    1.0    1.0   1.0        1.0
min    -1.6    -0.8   -1.4   -0.8  -1.2       -0.9
25%    -1.0    -0.8   -0.9   -0.8  -1.2       -0.9
50%     0.1    -0.8    0.1   -0.8  -0.3       -0.9
75%     0.9     1.2    0.9    1.3   0.7        1.2
max     1.6     1.2    1.5    1.3   1.6        1.2

In [17]:
x = df.drop(columns = ['has_covid'], axis = 1)
y = df['has_covid']

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [21]:
print(df.shape)
print(x.shape)
print(x_train.shape)
print(x_test.shape)
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(90, 6)
(90, 5)
(72, 5)
(18, 5)
(90,)
(72,)
(18,)

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
mn = MinMaxScaler()

In [24]:
x_train_mn = mn.fit_transform(x_train)

In [25]:
x_test_mn = mn.fit_transform(x_test)

In [26]:
x_train_new = pd.DataFrame(x_train_mn, columns = x_train.columns)

In [27]:
np.round(x_train_new.describe(), 1)

        age  gender  fever  cough  city
count  72.0    72.0   72.0   72.0  72.0
mean    0.5     0.4    0.5    0.4   0.4
std     0.3     0.5    0.3    0.5   0.4
min     0.0     0.0    0.0    0.0   0.0
25%     0.2     0.0    0.2    0.0   0.0
50%     0.5     0.0    0.5    0.0   0.3
75%     0.8     1.0    0.7    1.0   0.7
max     1.0     1.0    1.0    1.0   1.0

## (2). Ordinal Encoder

In [28]:
df = pd.read_csv("covid_toy.csv")

In [30]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [31]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [46]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
df = df.drop(['age','fever'],axis=1)

In [48]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [49]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [53]:
oe = OrdinalEncoder(categories=[['Male', 'Female'],['Mild','Strong'], ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'], ['Yes','No']])

In [54]:
oe

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [55]:
oe.fit(df)

OrdinalEncoder(categories=[['Male', 'Female'], ['Mild', 'Strong'],
                           ['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'],
                           ['Yes', 'No']])

In [56]:
df_new = oe.transform(df)

In [57]:
oe.categories_

[array(['Male', 'Female'], dtype=object),
 array(['Mild', 'Strong'], dtype=object),
 array(['Kolkata', 'Bangalore', 'Delhi', 'Mumbai'], dtype=object),
 array(['Yes', 'No'], dtype=object)]

In [ ]:
df=pd.DataFrame(df_new,columns=df.columns)

In [ ]:
df.sample(7)